# URL base API Laravel
# Saat dev dengan proxy Vite, bisa dikosongkan (otomatis ke /api)
# Saat deploy production, isi dengan URL backend lengkap
VITE_API_URL=http://localhost:8000/api

# App info
VITE_APP_NAME=Titip.in
